# List And Its Default Functions

In [3]:
lst= ["Hello", 20, 786, 45.67,[1,2,3]]

In [4]:
lst

['Hello', 20, 786, 45.67, [1, 2, 3]]

In [5]:
lst.append("append")

In [6]:
lst

['Hello', 20, 786, 45.67, [1, 2, 3], 'append']

In [10]:
lst[4][2]

3

In [11]:
lst.pop(3)

45.67

In [12]:
lst

['Hello', 20, 786, [1, 2, 3], 'append']

In [15]:
lst.index(786)

2

In [17]:
lst.reverse()

In [19]:
lst

['append', [1, 2, 3], 786, 20, 'Hello']

In [25]:
lst

['append', 45.67, 45.67, [1, 2, 3], 786, 20, 'Hello']

In [27]:
lst.remove(45.67)

In [28]:
lst

['append', 45.67, [1, 2, 3], 786, 20, 'Hello']

In [29]:
lst.reverse()

In [30]:
lst

['Hello', 20, 786, [1, 2, 3], 45.67, 'append']

# Dictionary And Its Default Functions

In [14]:
student = {
    "Roll no" : 1,
"name" : "abc",
"subject" : "Computer Science"
}

In [15]:
student

{'Roll no': 1, 'name': 'abc', 'subject': 'Computer Science'}

In [17]:
student.items()

dict_items([('Roll no', 1), ('name', 'abc'), ('subject', 'Computer Science')])

In [18]:
student.keys()

dict_keys(['Roll no', 'name', 'subject'])

In [35]:
student_up={
    "Id" : "1234"
}

In [37]:
student.update(student_up)

In [38]:
student

{'Roll no': 1, 'name': 'abc', 'subject': 'Computer Science', 'Id': '1234'}

In [39]:
student_copy=student.copy()

In [47]:
print ("Copied dictionary is : ") 
student_copy

Copied dictionary is :

{'Roll no': 1, 'name': 'abc', 'subject': 'Computer Science', 'Id': '1234'}

In [48]:
student.values()

dict_values([1, 'abc', 'Computer Science', '1234'])

In [49]:
student.keys()

dict_keys(['Roll no', 'name', 'subject', 'Id'])

# Sets And Its Default Functions

In [53]:
fruits1={"apple", "orange","grapes", "banana", "mango", "pineapple"}

In [54]:
fruits1

{'apple', 'banana', 'grapes', 'mango', 'orange', 'pineapple'}

In [55]:
fruits2={"papaya", "kiwi", "strawberry", "watermelon"}

In [56]:
fruits2

{'kiwi', 'papaya', 'strawberry', 'watermelon'}

In [57]:
fruits3=fruits1.union(fruits2)

In [58]:
fruits3

{'apple',
 'banana',
 'grapes',
 'kiwi',
 'mango',
 'orange',
 'papaya',
 'pineapple',
 'strawberry',
 'watermelon'}

In [59]:
fruits1.issubset(fruits3)

True

In [69]:
fruits2.update("peach")

In [78]:
fruits2

{'dates', 'kiwi', 'papaya', 'peach', 'strawberry', 'watermelon'}

In [79]:
fruits2.discard("papaya")

In [80]:
fruits2

{'dates', 'kiwi', 'peach', 'strawberry', 'watermelon'}

In [85]:
fruits3.issuperset(fruits2)

False

In [86]:
fruits3.issuperset(fruits1)

True

# Tuple And Its Default Methods

In [92]:
tup=("lenovo","dell","acer","apple","sony","hp","dell","lenovo","dell")

In [93]:
tup.count("dell")

3

In [95]:
tup.index("sony")

4

In [96]:
tup

('lenovo', 'dell', 'acer', 'apple', 'sony', 'hp', 'dell', 'lenovo', 'dell')

# Strings And Its Default Methods

In [97]:
str="This is a string"

In [98]:
str

'This is a string'

In [100]:
str.casefold()

'this is a string'

In [105]:
str.find("is")

2

In [106]:
str.swapcase()

'tHIS IS A STRING'

In [107]:
str.split("is a")

['This ', ' string']

In [114]:
str.endswith("s")

False